<table>
  <thead>
    <tr>
      <th colspan="3"><%= cat.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= cat.color %></td>
      <td><%= cat.sex %></td>
      <td><%= cat.birth_date %></td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="3"><%= cat.description %></th>
  </tfoot>
</table>


