<% 
  if type == :new
    url = cats_url
    button_txt = "Create Cat"
  else
    url = cat_url(cat)
    button_txt = "Edit Cat"
    
  end
 %>
 
<h1>Build-A-Cat!</h1>
 <form action="<%= url %>" method="post">
   
  <% if type == :edit %>
      <input type="hidden" name="_method" value="patch">
  <% end %>
  
  <label for="name">
    Name:
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  
  <br>
  <br>
  
  <label for="color">
    Color:
    <select name="cat[color]">
      <option value="" disabled selected>--Select a Color--</option>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>"><%= color %></option>
      <% end %>
    </select>
  </label>
  
  <br>
  <br>
  
  <label for="sex">
    Sex:
    <input id="sex" type="radio" name="cat[sex]" value = "M">    <label for="M"> M </label>
    <input id="sex" type="radio" name="cat[sex]" value = "F">    <label for="F"> F </label>
  </label>
  
  <br>
  <br>
  
  <label for="date">
    Birth date:
    <input id="date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  </label>
   
  <br>
  <br>
  
  <label for="description">
    Description:
    <br>
    <textarea name="cat[description]" value=" <%= cat.description %>"></textarea>
  </label>
  
  <br>
  <br>
  
  <input type="submit" value=" <%= button_txt %>">
 </form>